asgiref
Django
django-ckeditor
django-cleanup
django-crispy-forms
django-js-asset
oauthlib
Pillow
requests
requests-unixsocket
pytz==2021.1
sqlparse==0.4.1
environ
django-environ
serverless-wsgi
boto3
dj_database_url
django_cockroachdb
psycopg2-binary
