<section id="footer">
  <div id="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 my-4">
          <h5 id="footer-sitetitle">WikiWolkie</h5>
          <h6 id="footer-siteslogan">Whatever You Need..</h6>
          <div id="footer-info">
            <ul>
				<li><strong>Adress:</strong> Near East University-Inovation Center / Nicosia</li>				
				<li><strong>E-mail:</strong> <a href="mailto:ctrlmetasoftware@gmail.com">ctrlmetasoftware@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-6 my-4">
          <div id="footer-navmenu" class="d-print-none">
            <h6 class="text-center">Menu</h6>
            <ul>              
              <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}"> Communication</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-6 my-4">
        </div>
        <div class="col-lg-3 col-md-6 col-12 my-4">
          <div id="footer-social" class="d-print-none">
            <ul>
				<li><a href="http://www.twitter.com/" target="_blank"><i class="fab fa-twitter fa-lg color-twitter"></i> Follow on Twitter</a></li>
				<li><a href="http://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-lg color-instagram"></i> Follow on Instagram</a></li>
                <li><a href="http://www.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin fa-lg color-linkedin"></i> Follow on Linkedin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="makineweb-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 my-5">
          Copyright © 2019 All Rights Reserved.
          <br />
          No content on this site can be copied without permission.
        </div>
        <div class="col-12 my-2">
          Design & Application
          <br />
          <a href="#" target="_blank" id="footermwlink">CTRL-META Software</a>
        </div>
        <div class="col-12 my-2">
          <a href="mailto:ctrlmetasoftware@gmail.com"><i class="far fa-envelope"></i> ctrlmetasoftware@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</section>
