{% load static %}
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'LN.png' %}" width="50" height="50" alt="Website Logo" /></a>

    <a class="navbar-brand" href="{% url 'index' %}">LemoNotes</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
	    
	      
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'departments:lessonsfirst' %}">First Year</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'departments:lessonssecond' %}">Second Year</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'departments:lessonsthird' %}">Third Year</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'departments:lessonsfourth' %}">Fourth Year</a>
            </li>
	    <li class="nav-item active">
                <a class="nav-link" href="{% url 'departments:facultycommoncourses' %}">Faculty Common Courses</a>
            </li>
	    
            {% else %}
            {% endif %}
          </ul>

      <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
            <a class="nav-link" href="{% url 'departments:commoncourses' %}">Common Courses</a>
      </li>
      <li class="nav-item active">
            <a class="nav-link" href="{% url 'article:dashboard' %}">Control Panel</a>
      </li>

      <li>
            <div class="btn-group">
            <button type="button" class="btn btn-primary">{{request.user.username}}</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
            </button>
                  <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'user:profile' %}">Profile</a>
                        <a class="dropdown-item" href="contact/">Contact</a>
                        <a class="dropdown-item" href="{% url 'user:edit_profile' %}">Settings</a>
                  <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
            </div>
            </div>
      </li>
      {% else %}
      <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:register' %}">Register</a>
      </li>
      <li class="nav-item active">
            <a class="btn btn-primary custom-button green-btn" href="{% url 'user:login' %}">Login</a>
      </li>
      {% endif %}




    </ul>
  </div>
</nav>
