{% extends "layoutwithout.html" %}
{% block body %}
<div class="col-lg-8">
<h3>Courses</h3>
<hr>
</div>
<div class="col-8">
  <table class="table table-hover">
      <thead>
          <tr>
              <th scope="col">Code</th>
              <th scope="col">Course Name</th>
          </tr>
      </thead>
      <tbody>
    {% for lesson in lessons %}
                <tr>
                    <td><a name="show-data" href="{% url 'article:articletable' lesson.id %}">{{lesson.keywords}}</a></td>                  
                    <td><a name="show-data" href="{% url 'article:articletable' lesson.id %}">{{lesson.title}}</a></td>                                       
                </tr>
     {% endfor %}
      </tbody>
  </table>
</div> <!-- /.col-8 -->


{% endblock body %}
