{% extends "layoutwithout.html" %}



{% block body %}
<h3>Users</h3>
<hr>


{% if users %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">E-Mail Address</th>
      <th scope="col">Delete with Copy</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{user.username}}</th>
      <td><a href = "#">{{user.email}}</a></td>
      <td><a href="{% url 'user:copyac' user.id %}" class = "btn btn-danger">Delete with Copy</a></td>
      <td><a href="{% url 'user:deleteac' user.id %}" class = "btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
    <!--- <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr> -->
  
  </tbody>
</table>
{% else %}
<div class = "alert alert-danger">
    You Don't Have Any User...
</div>
{% endif %}



{% endblock body %}
