
{% extends "layoutwithout.html" %}

{% block body %}
<div class="col-md-12 offset-md-2">
 <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{article.title}}</h1>

        <!-- Author -->
        <p class="lead">
          
         Published by <a href="#">{{article.author.username}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{article.created_date}}  --->  {{article.using_status}}
        {% if request.user.username == article.author.username %}
        <a href="{% url 'article:update' article.id %}">&#8853;</a>
        {% endif %}</p>

        <hr>

        <!-- Preview Image -->
        <!--{% if images %}-->
            <br>
	   <!--  {% for image in images %} -->
	   <!--  <div class="responsive"> -->
	   <!--    <div class="gallery"> -->
	   <!-- 	  <a href="{{image.article_image.url}}"><img class="img-fluid -->
	   <!-- 	  rounded" src="{{image.article_image.url}}" alt=""></a> -->
	   <!--    </div> -->
	   <!--  </div> -->
	   <!-- {% endfor %} -->
	   <!--    <br><br<br><br><hr> -->
								     <!-- {% endif %}-->

	{% if images.count != 0 and images.count > 1 %}
        <div class="row gallery">
	  {% for image in images %}
	  <div class="col-md-3">
	    <a href="{{image.article_image.url}}"><img class="img-fluid
		  rounded" src="{{image.article_image.url}}" alt="" class="img-thumbnail"></a>
	  </div>
	  {% endfor %}
	</div>
	<br><br<br><br><hr>
	{% elif  images.count != 0 and images.count == 1 %}
	{% for image in images %}
	<a href="{{image.article_image.url}}"><img class="img-fluid
	       rounded" src="{{image.article_image.url}}" alt=""></a>
	{% endfor %}
	       <br><br<br><br><hr>
        {% endif %}
	       
      <!--  {% if article.articleFile %}
          <p>Files:</p>
          <a href="{{article.articleFile.url}}">{{article.articleFile}}</a>
          <hr>
        {% endif %}-->


        <!-- Post Content -->
        <p class="lead">
            {{article.content|safe|linebreaks}}
        </p>
        <hr>

        <h4>Comments</h4>
        <hr>
        {% if comments %}
        {% for comment in comments %}
        {% if user.is_authenticated %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="{{ comment.comment_author.image.url }}" alt="" height="50" width="50">
          <div class="media-body">
            <h5 style="color: blue;" class="mt-0">{{comment.comment_author}}
            {% if request.user.id == comment.comment_author.user_id %}
              <a href="{% url 'article:comment_remove' comment.id %}" style="float:right">&#9747;</a>
            {% endif %}
            </h5>
            <small>{{comment.comment_date}}</small> <br>
            {{comment.comment_content|linebreaks}}
          </div>
        </div>
        {% endif %}
        {% endfor %}
     
        {% else %}
        <div class = "alert alert-danger">
          There is no comment :(   Make the first comment!
        </div>
        {% endif %}
      
        <!---{% url 'article:comment' article.id %} -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method = "POST" action = "{% url 'article:comment' article.id %}">
            {% csrf_token %}
              <div class="form-group">
              <!--<label for="formGroupExampleInput">Name</label>
                <input name = "comment_author" type="text" cla ss="form-control" id="formGroupExampleInput" placeholder="Enter Your Name"> -->
              </div>
              <div class="form-group">
              <!--<label for="formGroupExampleInput">Comment</label> -->
                <textarea name = "comment_content" class="form-control" rows="3"></textarea>
           <!--  </div>  
              <div class="form-group">-->              
                <div>
                  <strong class="text-uppercase">Your
                    Rating: </strong>
                  <div class="rating" style="width: 20rem; display: flex; justify-content:left ;">
	                  <input id="rating-5" type="radio" name="rating" value="5"/><label for="rating-5"><i class="fas fa-2x fa-star"></i></label>
	                  <input id="rating-4" type="radio" name="rating" value="4"/><label for="rating-4"><i class="fas fa-2x fa-star"></i></label>
	                  <input id="rating-3" type="radio" name="rating" value="3"/><label for="rating-3"><i class="fas fa-2x fa-star"></i></label>
	                  <input id="rating-2" type="radio" name="rating" value="2"/><label for="rating-2"><i class="fas fa-2x fa-star"></i></label>
	                  <input id="rating-1" type="radio" name="rating" value="1"/><label for="rating-1"><i class="fas fa-2x fa-star"></i></label>
                  </div>
               <!--   <div class="stars">
                    
                  <!-- <a class="hovercik" href="#"><i class="fas fa-star fa-2x">1</i></a>
                    <i class="fas fa-star fa-2x">2</i>
                    <i class="fas fa-star fa-2x">3</i>
                    <i class="fas fa-star fa-2x">4</i>
                    <i class="fas fa-star fa-2x">5</i> -->
             <!--       <input type="radio" id="star1" name="rate"
                           value="1" /><label for="star1"></label></input>
                    <input type="radio" id="star2" name="rate"
                           value="2" /><label for="star2"></label></input>
                    <input type="radio" id="star3" name="rate"
                           value="3" /><label for="star3"></label></input>
                    <input type="radio" id="star4" name="rate"
                           value="4" /><label for="star4"></label></input>
                    <input type="radio" id="star5" name="rate"
                           value="5"
                           /><label for="star5"></label></input> -->
                  </div>  <!-- end of stars -->
                </div><!-- end of input-rating -->

              </div> <!-- end of form-group -->

              
              <button type="submit" class="btn btn-danger">Submit</button>
            </form>
          </div>
        </div>
      </div>

      
      </div>
</div>

{% endblock body %}
