{% extends "layout.html" %}

{% block body %}

<div style = "margin-top : 300px; margin-bottom : 250px;"
     class="header-content-wrap">
  <div class="container">
  {% if request.user.is_authenticated %}

  <div class="container">
    <div class="text-center mt-5">
      <h1 class="Montserrat">We Love You, WikiWolkie</h1>
      <p class="lead">You can reach all notes about your department
	from there..</p>
      <p class="lead">Whatever You Need</p>
      <p>Read or Write...</p>
      <p>Do something..!</p>
    </div>
  </div>

  {% else %}
  <div class="container">
    <div class="text-center mt-5">
      <h1 class="Montserrat">Welcome to WikiWolkie</h1>
      <p class="lead">You can reach all notes about your department
	from there..</p>
      <p class="lead">Whatever You Need</p>
      <p>Read or Write...</p>
    </div>
  </div>
  {% endif %}
  
    
  </div>
</div>




{% endblock body %}
