{% extends "layoutwithout.html" %}

{% block body %}
{% load crispy_forms_tags %}

<div class="row">
  <div class="col-md-6 offset-md-3">
      <h3>Update Article</h3>
      <hr>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.media}}          
          {{form|crispy}}
          {{imageForm|crispy}}
          {% if attachedImage %}
          <table id="gallery" class="table table-bordered">
            <thead>
              <tr>
                 <th>Attached Images </th>
              </tr>
            </thead>
          <tbody>
          {% for image in attachedImage %}
            <tr>
            <td><a href="{{ image.article_image.url
            }}">{{image.article_image.name }}</a><a href="{% url 'article:deleteimage' image.id %}" style="float:right">&#128465;</a>
            </td>
            </tr>
        {% endfor %}
          </tbody>
         </table>
       {% endif %}

        <hr>
          {{fileForm|crispy}}
          {% if attachedFiles %}
          <table id="gallery" class="table table-bordered">
            <thead>
              <tr>
                 <th>Attached Files </th>
              </tr>
            </thead>
          <tbody>
          {% for file in attachedFiles %}
            <tr>
            <td><a href="{{ file.myFile.url }}">{{file.myFile.name }}</a><a href="{% url 'article:deletefile' file.id %}" style="float:right">&#128465;</a>
            </td>
            </tr>
        {% endfor %}
          </tbody>
         </table>
       {% endif %}

        <hr>


        <!---<form action="https://v2.convertapi.com/convert/jpg/to/pdf?Secret=<YOUR SECRET HERE>&download=attachment" method="post" enctype="multipart/form-data">
            <input type="file" name="File" />
            <input type="submit" value="Convert file"/>
        </form> -->
        
          <button type = "submit" class = "btn btn-danger">UPDATE</button>
      </form>
  
  </div>
</div>
{% endblock body %}
